
.home{
    display: flex;
    justify-content: space-evenly;
    /* flex: 1; */
    padding: 20px;
    width: 100%;
    
    max-height: 100vh;
    position: relative;

  }
  .custom-tast button{

    border-radius: 100px;
    padding: 8px 18px;
    font-size: .9rem;
    color: white;
    border: 0;
    margin: 10px;
    cursor: pointer;
    transition: .2s;
  }

  .custom-tast button:active{
    /* transform: translateY(4px); */

  }
  
  .custom-tost button:nth-child(odd){
    background-color: darkgreen !important;
  }
  .custom-tast button:nth-child(even){
    background-color: red !important;
  }
  