.popup {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.popup button {
  padding: 8px 20px;
  border: 0;
  border-radius: 50px;
  margin: 15px 10px;
  color: white;
  cursor: pointer;
  transition: 0.25s;
  font-size: .9rem
}

.popup button:active {
  transform: translateY(4px);
}
.popup button:nth-child(odd) {
  background-color: red !important;
}
.popup button:nth-child(even) {
  
  background-color: blue;
}
